<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fourman.project1.repository.post.PostMyBatisMapper">

    <select id="findPosts" resultType="fourman.project1.domain.post.Post">
        SELECT post_id, title, body, user_id, board_id, created_at, updated_at, deleted_at
        FROM posts
        WHERE deleted_at IS NULL
    </select>

    <select id="findPostById" parameterType="long" resultMap="PostResultMap">
        SELECT
            p.post_id,
            p.title,
            p.body,
            p.created_at,
            p.updated_at,
            p.deleted_at,
            u.user_id,
            b.board_id
        FROM
            posts p
        LEFT JOIN users u ON p.user_id = u.user_id
        LEFT JOIN boards b ON p.board_id = b.board_id
        WHERE p.post_id = #{postId} AND p.deleted_at IS NULL
    </select>

    <insert id="createPost" useGeneratedKeys="true"
            parameterType="fourman.project1.domain.post.Post"
            keyProperty="postId" keyColumn="post_id">
        INSERT INTO posts (title, body, user_id, board_id)
        VALUES (#{title}, #{body}, #{user.userId}, #{board.boardId})
    </insert>
    
    <update id="updatePost" parameterType="fourman.project1.domain.post.Post">
        UPDATE posts
        SET title = #{title}, body = #{body}
        WHERE post_id = #{postId}
    </update>

    <update id="deletePost" parameterType="long">
        UPDATE posts
        SET deleted_at = CURRENT_TIMESTAMP
        WHERE post_id = #{postId}
    </update>

    <!-- ResultMap 정의 -->
    <resultMap id="PostResultMap" type="fourman.project1.domain.post.Post">

        <id property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="body" column="body"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>

        <!-- User 객체 매핑 -->
        <association property="user" javaType="fourman.project1.domain.user.User">
            <id property="userId" column="user_id"/>
        </association>

        <!-- Board 객체 매핑 -->
        <association property="board" javaType="fourman.project1.domain.board.Board">
            <id property="boardId" column="board_id"/>
        </association>

    </resultMap>

</mapper>
