<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fourman.project1.repository.user.UserMyBatisMapper">

    <insert id="save" parameterType="fourman.project1.domain.user.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (username, password, created_at)
        VALUES (#{username}, #{password}, #{createdAt})
    </insert>

    <select id="existsByUsername" parameterType="java.lang.String" resultType="boolean">
        SELECT COUNT(*)
        FROM users
        WHERE username = #{username}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultType="fourman.project1.domain.user.User">
        SELECT username,password
        FROM users
        WHERE username = #{username}
    </select>

</mapper>
