<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: head}">
    <title>유저 상세 페이지</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body class="detail-page">

<div th:insert="~{fragments/header :: header}"></div>

<main class="detail-container">

    <div class="detail-left">
        <h1>User Details</h1>
    </div>

    <div class="detail-right">
        <div class="user-info">
            <p><strong>username</strong>
            <br>
                <label>
                    <input class="detail-input" type="text" th:value="${detailUser.getUsername()}" readonly/>
                </label></p>
            <br>
            <p><strong>join date</strong>
            <br>
                <label>
                     <input class="detail-input" type="text" th:value="${detailUser.getCreatedAt()}" readonly/>
                </label></p>
        </div>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>
