/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    font-size: 0.9em;
    color: #666;
    /*
    푸터가 너무 메인 요소에 붙어있어서 내렸습니다.
     */
    margin-top: 100px;
}

.container {
    max-width: 600px;
    margin-top: 50px;
}

.form-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-text {
    font-size: 0.9em;
    color: #888;
}

.btn-custom {
    background-color: #333;
    color: #fff;
}

.page-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 20px;
    color: #333;
}

.page-description {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
}

.inputsz {
    width: 500px;
}

.btnsz {
    width: 200px;
}
