<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: head}"></head>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<main class="container-fluid">

    <section class="container full-width" style="text-align: center;">
        <h1 class="page-title">Experience it as your users would!</h1>
    </section>

    <section class="container" style="text-align: center">
        <h1 class="page-title" th:text="'User Actions'">Welcome to FORMAN BY FOURMAN</h1>
        <p class="page-description" th:text="'Perform actions like refresh and form submission'"></p>
    </section>

    <section class="row">
        <section class="col-6 d-flex flex-column justify-content-center align-items-end text-start">
            <div>
                <form>
                    <label>Post Anything</label>
                    <input class="form-control mb-4" type="text" name="interval" placeholder="Enter interval" style=" width: 500px;">
                </form>
            </div>
        </section>

        <section class="col-6">
            <div>
                <form>
                    <div>
                        <label>Select Action</label><br>
                        <div class="select-box" style="display: flex; gap: 10px; align-items: center;">
                            <form method="post">
                                <button type="submit" class="btn btn-secondary btnsz">Submit</button>
                            </form>
                            <form method="get" th:action="@{/traffics}">
                                <button type="submit" class="btn btn-secondary btnsz">Cancel</button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>
    <section class="container" style="text-align: center">
        <form method="get" th:action="@{/traffics/vus/{id}(id=${traffic.trafficId})}">
            <button type="submit" class="btn btn-custom btnsz">Refresh</button>
        </form>
    </section>

</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>